urllib3==1.26.20
numpy==1.26.4
absl-py==1.4.0
azure-cognitiveservices-vision-computervision==0.9.1
huggingface_hub==0.25.0
openai==2.8.1
requests==2.34.2
replicate==0.4.0
pillow==10.0.0
torch==2.6.0
accelerate==1.11.0
safetensors==0.6.2
torchvision==0.21.0
diffusers==0.30.0
transformers==4.57.1
paddlepaddle==3.0.0
paddleocr==2.7.0.3